/* COMMON */
#section_line {
    border-bottom: 1px solid #ebebeb;
    width: auto;
}

.aboutSection {
    padding: 40px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #3c3940;
    /* border: 5px solid #9080a6; */
    /* background: linear-gradient(to top, white, #e9e2f3); */
}

.aboutSection h1 {
    display: inline-block;
    border-bottom: 10px solid #9080a6;
}

/* Education & WorkExperience - Common Card */

.card li{
    display: flex;
    align-items: center;
}

.card li h2 {
    display: inline-block;
    /* border: 1px solid; */
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.thumb {
    padding: 20px;
}

.date {
    font-size: 14px;
    color: grey;
}

/* Keyword */
.keywordDesc {
    /* border: 1px solid; */
    display: inline-block;
}
.keywordImg {
    display: inline-block;
    margin-left: 100px;
    /* border: 1px solid red; */
}

/* media */
@media (max-width: 500px) {
    .container {
        width: 100%;
    }
    .aboutSection {
        font-size: 14px;
    }
    .thumb {
        display: none;
        padding: 0;
    }
}

@media (min-width: 1024px) {
    .container {
        text-align: center;
    }
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}