.blogContainer {
  width: 1200px;
  margin: 0 auto;
  color: #3c3940;
  padding: 10px;
  min-height: 900px;
  /* background-color: rgb(248, 239, 239); */
}

.header {
  margin-top: 80px;
  min-height: 180px;
  color: #9080a6;
  /* border-bottom: 11px solid #e0d4f3; */
}

.headerDesc {
  font-size: 25px;
  font-weight: 340;
  color: grey;
  display: inline-block;
}

.headerInfo {
  margin-right: 20px;
  float: right;
}

.headerInfo p {
  margin-top: 0;
  font-size: 24px;
  text-align: center;
}

.listLayout {
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0 auto;
  /* border-radius: 10px; */
  display: flex;
  flex-wrap: nowrap;
  /* gap: 1em; */
  /* box-shadow: 0 0 0 11px #9080a6; */
  /* border: 5px solid red; */
}

.listLayout aside {
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #9080a6;
}

.category {
  padding: 20px;
  color: #f3dce7;
}

.category a:hover {
  text-decoration: underline;
}

.subCategory div {
  padding-bottom: 10px;
  font-weight: 300;
}

.listLayout article {
  /* /* box-shadow: 0 0 0 11px #9080a6; */
  border-radius: 10px;
  width: 100%;
}

.postBox {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 10px;
}

.postInfo {
  flex-basis: 300px;
  flex-shrink: 1;
  flex-grow: 1;
  border: 0.5px solid lightgray;
  border-radius: 2%;
  text-align: center;
}

.postImg {
  border-bottom: 0.5px solid lightgray;
  padding: 20px;
  cursor: pointer;
}

.postTitle {
  font-size: 1.3rem;
  height: 80px;
  color:#9080a6;
  font-weight: 800;
  /* border: 1px solid; */
}

.postTitle div {
  cursor: pointer;
  /* border: 1px solid red; */
}

.mobileDesc {
  display: none;
}

.postTitle div:hover {
  color:#1b1227;
}

.postContent {
  /* white-space: nowrap; */
  /* width: 100%; */
  height: 50px;
  font-weight: 300;
  /* border: 1px solid; */
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1rem;
}

.postContent p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 1.5em;
  max-height: 5em;
  margin-top: 0;
  /* border: 1px solid red; */
}

.postDate {
  float: left;
  font-size: 12px;
  /* border: 1px solid; */
}

.postTitle, .postDate {
  padding: 10px;
  display: block;
}

.toggle__cate {
  font-family: 'Nanum Gothic', sans-serif;
  color:#1b1227;
  display: none;
  cursor: pointer;
  width: 100%;
}
.toggle__cate > div {
  border-top: 2px solid lightgray;
  padding: 10px;
}
.toggle__cate > div:first-child {
  border-top: none;
}
.toggle__cate > div:hover {
  color: #1b1227
}

#dropBtn {
  display: none;
  position: fixed;
  top: 14px;
  right: 435px;
  background-color: #9080a6;
  border-radius: 10%;
  color: #f0f0f0;
  width: 80px;
  align-items: center;
  text-align: center;
  justify-content: center;
  z-index: 9999;
}

#mobileCate {
  display: none;
}

@media (max-width: 999px) {
  .listLayout aside {
    display: none;
  }
  .toggle__cate {
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 9999;
    background-color: #e9e2f3;
    border: 1px solid #9080a6;
    border-radius: 3%;
    text-align: center;
    padding: 10px;
    width: 40%;
    top: 58px;
    right: 40%;
  }
  #dropBtn {
    cursor: pointer;
    padding: 10px 0;
    display: flex;
    right: 50%;
  }
}

@media (max-width: 1200px) and (min-width: 600px) {
  .blogContainer {
    width: 100%;
    padding: 10px;
  }
  .headerDesc {
    font-size: 15px;
  }
  .listLayout {
    display: block;
    width: 100%;
    gap: 1em;
  }
  .postBox {
    gap: 1;
    padding: 10px;
  }
  .postInfo {
    flex-basis: 300px;
    flex-shrink: 1;
    flex-grow: 1;
    border: 0.5px solid lightgray;
    border-radius: 2%;
    text-align: center;
  }
  .postDate {
    float: none;
    padding: 0;
  }
}
@media (max-width: 600px) {
  .blogContainer {
    width: 100%;
    padding: 10px;
  }
  .headerDesc {
    font-size: 15px;
  }
  .listLayout {
    display: block;
    width: 100%;
    gap: 1em;
  }
  .listLayout .category {
    display: none;
  }
  .listLayout article {
    flex-grow: 0;
    flex-shrink: 0;
  }
  .postBox {
    display: block;
    gap: 1;
    padding: 10px;
  }
  .postImg {
    float: left;
    border-bottom: none;
  }
  .postImg img {
    width: 50px;
  }
  .postTitle {
    font-size: 15px;
    height: auto;
    /* border: 1px solid; */
  }
  .postContent {
    /* display: none; */
    font-size: 12px;
    /* border: 1px solid; */
    height: auto;
  }
  .postInfo {
    min-height: 0;
    min-width: 0;
    flex-grow: 0;
    border: 0.5px solid lightgray;
    border-radius: 2%;
    text-align: center;
  }
  .hideMobile {
    display: none;
  }
  .postDate {
    float: none;
    padding: 0;
  }
  .toggle__cate {
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 9999;
    width: 70%;
    top: 58px;
    right: 20%;
  }
  #dropBtn {
    cursor: pointer;
    display: flex;
    right: 50%;
  }
}