  
.visualContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #e0d4f3;
  background-attachment: fixed;
  height: 400px;
}

.visual {
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
}

.typing {
  font-size: 35px;
  margin-left: 10px;
  top: 0;
  color: black;
}

.typingAni {
  position: relative;
  display: inline-block;
  margin-left: 15px;
  height: 20px; overflow: hidden;
  /* border: 1px solid; */
  animation: typings 2s steps(30, end) 1;
}

@keyframes typings {
  0% {
    width: 0%;
  }
  100% {
    width: 200px;
  }
}

.typingAni::after {
  position: absolute;
  display: block;
  content: "";
  width: 136px;
  height: 13px;
  top: 3px;
  border-right: 1px solid black;
  animation: cursor 1s step-end infinite;
}

@keyframes cursor{
  0%{opacity:0;}
  50%{opacity:1;}
  100%{opacity:0;}
}

.mainImg {
  float: right;
}

.codeAni {
  float: right;
  right: 120px;
  animation: updown 0.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 0.3s;
  position: absolute;
}

@keyframes updown {
  0% {
    bottom: 95%;
  }
  100% {
    bottom: 100%;
  }
}

.humanImg {
  /* margin-right: 150px; */
  margin-bottom: 30px;
}

.skillContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skills {
  color: #333333;
  padding: 20px;
  margin-top: 50px;
  font-size: 30px;
}

.explain {
  font-size: 17px;
  font-weight: 200;
}

.skillsImg {
  width: 100%;
  margin-bottom: 50px;
}

.skillsImg h3 {
  font-weight: 500;
}

.skillsImg p {
  font-weight: 250;
  color: rgb(73, 66, 66);
}

.skillsImg li {
  display: inline-block;
  /* border: 3px solid green; */
  width: 30%;
  margin-top: 50px;
}

.pjContainer {
  background-color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myProject {
  background-color: white;
  cursor: pointer;
  width: 450px;
  /* height: 250px; */
  margin: 30px;
}

.myProject h3 {
  font-weight: 450;
}

.myProject p {
  font-weight: 200;
  margin: 0;
}
.myProject p, .myProject h3 {
  padding: 10px;  
}

.blogContainer {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.blog {
  color: #333333;
  padding: 20px;
  margin-top: 50px;
  font-size: xx-large;
}

@media (max-width: 999px) {
  .visualContainer {
    display: block;
    height: 300px;
  }
  .typing {
    position: relative;
    top: 90px;
  }
  .typingAni {
    position: relative;
    top: 90px;
  }
  .mainImg {
    display: none;
  }
  .humanImg {
    display: none;
  }

}

@media (max-width: 1024px) {
  .skillsImg {
    min-width: 64px;
  }
  .skillsImg img {
    width: 64px;
  }
  .skillsImg li {
    /* border: 3px solid tomato; */
    display: flex;
    padding: 0 20px;
    width: 100%;
    align-items: center;
  }  
  .skillsImg h3 {
    font-weight: 200;
    font-size: 15px;
  }
  .skillsImg li p {
    margin-left: 30px;
    text-align: left;
    font-size: 14px;
  }
}