  
.visualContainer {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, white, #e9e2f3);
  background-attachment: fixed;
  height: 600px;
}

.visual {
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  min-height: 400px;
}

.introImg {
  display: flex;
  justify-content: center;
  position: relative;
  height: 150px;
}

.favicon {
  animation: updown 0.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 0.3s;
  position: absolute;
}

@keyframes updown {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 25px;
  }
}

.sunhodev {
  position: relative;
  align-self: flex-end;
}

.introBox {
  text-align: center;
}

.typingAni {
  position: relative;
  margin-top: 20px;
  display: inline-block;
  width: 80%;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 900;
  color: #3c3940;
  animation: textOpacity 2s steps(30, end) 1;
}

@keyframes textOpacity {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.skillContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Nanum Gothic', sans-serif;;
  /* text-align: center; */
  background: linear-gradient(to left, white, beige);
  /* border: 1px solid; */
}

.skills {
  padding-top: 10px;
}

.skillsContent {
  width: 80%;
  /* border: 1px solid; */
}

.skillsContent li {
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
}

.skillsType {
  /* border: 1px solid blue; */
  /* display: inline-block; */
  margin-right: 20px;
  font-size: 25px;
  width: 150px;
}

.skillsStack {
  display: inline-block;
  text-align: center;
  padding: 20px;
  /* border: 3px solid purple; */
}

@media (max-width: 999px) {
  /* .visualContainer {
    display: block;
    min-height: 300px;
  } */
  .typingAni {
    position: relative;
    top: 30px;
  }
}

@media (max-width: 1024px) {
  .skillsType {
    display: none;
  }
  .skillsContent {
    min-width: 100px;
    font-size: 14px;
    /* border: 1px solid; */
  }
}