@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.container {
  padding: 10px 15px;
  background-color: white;
  /* min-height: 800px; */
}

.title {
  /* border-top: 0.5px solid #9080a6; */
  padding-bottom: 20px;
}

.title h2 {
  font-weight: 300;
  font-size: 32px;
  /* border: 1px solid; */
}

.title div {
  border-bottom: 0.5px solid lightgray;
  color: #9080a6;
  height: 40px;
}

.contentDetail {
  font-family: 'Nanum Gothic', sans-serif;
}

.comment {
  margin-left: 10px;
  height: 50px;
  color: #9080a6;
  border-bottom: 0.3px solid #9080a6;
  font-weight: 400;
}