@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.container {
  padding: 10px 30px;
  background-color: rgb(248, 239, 239);
  border-radius: 10px;
  line-height: 30px;
  /* border: 11px solid #e0d4f3; */
  /* min-height: 800px; */
}

.title {
  /* border-top: 0.5px solid #9080a6; */
  padding-bottom: 20px;
}

.title h2 {
  font-weight: 300;
  font-size: 32px;
  /* border: 1px solid; */
}

.title div {
  border-bottom: 0.5px solid lightgray;
  color: #9080a6;
  height: 40px;
}

.contentDetail {
  font-family: 'Nanum Gothic', sans-serif;
}

.contentDetail h1 {
  /* line-height: 10px; */
  /* text-decoration-line: underline; */
  display: inline-block;
  /* box-shadow: 0 0 0 5px #9080a6; */
  /* border-radius: 10px; */
  border-bottom: 10px solid #9080a6;
  padding-bottom: 0;
  margin-bottom: 10px;
  /* color: #9080a6; */
}
.contentDetail h2 {
  border-bottom: 7px solid #e0d4f3;
  display: inline-block;
}
.contentDetail img {
  max-width: 100%;
}

.comment {
  margin-left: 30px;
  height: 50px;
  width: 95%;
  color: #9080a6;
  border-bottom: 0.3px solid #9080a6;
  font-weight: 400;
}

.commentContent {
  margin-left: 30px;
  margin-right: 30px;
}